
.corso-home-menu--generale {
    margin-top: 50px;
    padding: 20px;
    background-color: var(--toc-bg); 
    border-top: 3px solid var(--heading-color);
    color: var(--text-color);
}
.corso-home-menu--generale ul {
    list-style: none;
    padding: 0;
}
.corso-home-menu--generale li {
    margin-bottom: 10px;
}
.corso-home-menu--generale a {
    color: var(--link-color);
}
